/* https://tinyurl.com/wirewireframeframe */
* {
    box-sizing: border-box;
}

html, body {
    background-color: pink;
}

header {
    background-color: white;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
}

.header-mobile {
    display: none;
}

@media only screen and (max-width:480px) {
    header {
        display: none;
    }

    .header-mobile {
    background-color: white;
    padding: 0 50px;
    width: 100%;

    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

.name {
    padding-left: 24px;
    display: flex;
    align-items: center;
    flex: 1;
    height: 32px;
}

header nav {
    display: flex;
    gap: 16px;
    padding-right: 24px;
    list-style: none;
}

.banner-one {
    background-color: gray;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-one img {
    padding: 32px 24px;
    width: 60%;
}

.banner-one div {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.banner-one .button {
    color: white;
    background-color: black;
    padding: 8px 30px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width:480px) {
    .banner-one {
    display: block;
}

    .banner-one img {
    padding: 0;
    width: 100%;
}

    .banner-one div {
    padding: 32px 16px;
    gap: 0;
}

    .banner-one h1 {
        padding-bottom: 32px;
    }

    .banner-one h2 {
        padding-bottom: 24px;
    }

    .banner-one .button {
        position: relative;
        width: 50%;
        left: 25%;
}
}

.banner-two {
    background-color: pink;
    display: flex;
}

.banner-two .left {
    width: 60%;
    padding: 32px 24px;
}

.banner-two video {
    width: 100%;
    height: auto;
}

.banner-two .left img {
    width: 100%;
    height: auto;
}

.banner-two .left h1 {
    padding: 32px 0 24px 0;
}

.banner-two .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 16px 0px 32px 0px;
}

.banner-two .right .whole {
    display: flex;
}

.banner-two .right img {
    flex: 0 0 35%;
    padding: 16px; 
    width: 100%;
    height: auto;
}

.banner-two .right .text {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.mobile-banner {
    display: none;
}

@media only screen and (max-width: 480px) {
    .banner-two {
        display: none;
    }

    .mobile-banner {
        display: block;
        padding: 16px 16px 32px;
        width: 100%;
    }

    .mobile-banner img {
        width: 100%;
        height: auto;
    }

    .text {
        padding: 16px 16px 64px;
    }

    .last .text {
        padding: 16px 16px 0px;        
    }
}

.tilespace {
    background-color: seashell;
}

.tilespace h1 {
    text-align: center;
    padding-top: 32px;
    font-size: 25px;
}

.tilespace .tiles {
    display: flex;
    padding: 32px 72px;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    flex-basis: 300px;
    background-color: white;
}

.tilespace img {
    height: auto;
    width: 100%;
}

.tiles .text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

@media only screen and (max-width: 480px) {

    .tilespace img {
        display: none;
    }

    .tilespace h3 {
        display: none;
    }

    .tilespace .tiles {
    padding: 16px 0px 32px;
    gap: 8px;
    width: 100%;
    }

    .tile {
    flex-basis: 90%;
    }

    .tiles .text{
    padding: 16px 16px 24px;
    }
}

.thesis {
    background-color: pink;
}

.thesis p {
    font-size: 30px;
    text-align: center;
    padding: 32px 0px 0px 0px;
}

.mobile-video {
    display: none;
}

@media only screen and (max-width: 480px) {
    .thesis p {
        padding: 32px 32px 16px
    }

    .mobile-video {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 24px;
    }
}


footer {
    background-color: white;
    font-size: 14px;
    height: 32px;
    display: flex;
    align-items: center;
}

footer .rights {
    flex: 1;
    padding-left: 24px;
}

footer p{
    padding-right: 24px;
}

@media only screen and (max-width: 480px) {
    footer p {
        display: none;
    }

    footer .rights {
        display: block;
    }

    footer {
     padding: 16px 16px 16px;
    }
}